

@import "tailwindcss";

.rojo-f-frisco{
 background-color:#D61B26;
 /*background-color:#4b0082;*/
}
.blanco-frisco {
  color: #ffe5cc;  
}

.rojo-b-frisco {
  background-color: #E83F32;  
}
.naranja-frisco {
  background-color: #F1881F;  
}
.amarillo-frisco {
  background-color: #fff0f0;  
}
.black-plum{
  background-color: #362b32;  
}
.dark-navy{
  background-color: #092241;  
}
.deep-gray{
  /*color: #303537;  */
  color: #303537;    
}
.obsidian{
  color: #08100C;  
}
.texto-claro{
  color: #FCFAEE;  
}
.fondo-claro{
  background-color: #ffffff;  
}
#DivPpl::-webkit-scrollbar {
  width: 8px;
  
}

#DivPpl::-webkit-scrollbar-track {
  background: transparent;
}

#DivPpl::-webkit-scrollbar-thumb {
  background-color: #a1a2a5; /* Tailwind gray-200 */
  border-radius: 9999px;
}

#DivPpl::-webkit-scrollbar-thumb:hover {
  background-color: #E83F32; /* Tailwind gray-400 */
}
@font-face {
  font-family: 'MontserratReg';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');     
  font-optical-sizing: auto;  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');     
  font-optical-sizing: auto;  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratThin';
  src: url('./assets/fonts/Montserrat-Thin.ttf') format('truetype');     
  font-optical-sizing: auto;  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratLight';
  src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');     
  font-optical-sizing: auto;  
  font-weight: normal;
  font-style: normal;
}
.MontserratSemiBold{
  font-family:'MontserratSemiBold';
}
.MontserratReg{
  font-family:'MontserratReg';
}
.MontserratThin{
  font-family:'MontserratThin';
}
.MontserratLight{
  font-family:'MontserratLight';
}